<div class="card bg-transparent border-primary h-100">
    <img src="https://l1visible.com/wp-content/uploads/2018/10/FORET.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h1 class="d-inline-flex"><span class="badge badge-primary">{{ event.dateBegin|date('d') }}</span></h1>
        <h3 class="d-inline-flex">{{ event.dateBegin|date('F')|trans }}</h3>
        <h3 class="d-inline-flex text-primary font-weight-bold">{{ event.dateBegin|date('Y') }}</h3>
        <h3 class="card-title">{{ event.title }}</h3>
        <ul class="list-inline">
            <li class="list-inline-item"><i class="fa fa-tag" aria-hidden="true"></i> {{ event.eventType.label }}</li>
            {% if event.locationTitle is not empty %}<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.locationTitle }}</li>{% endif %}
        </ul>
        <a href="{{ path('owp_event_show', {'id': event.id}) }}" class="btn btn-primary stretched-link">Plus d'information</a>
    </div>
</div>
