{% extends 'content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}

{% block title %}Liste des événements{% endblock %}

{% block content_header %}
    <img style="opacity:0.2" class="first-slide" src="https://l1visible.com/wp-content/uploads/2018/10/FORET.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-10">
            <h1>Liste des événements</h1>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                {{ _self.breadcrumb([{'label':'Liste des événements', 'url':'#', 'class': 'active'}])}}
            </div>
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                {% for event in events %}
                    <div class="col-12 col-lg-4 mb-4">
                        {% include 'Event/item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
