{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>
{% endblock %}

{% block title %}{{ 'event list' | trans | capitalize }}{% endblock %}

{% block body %}
    <div class="container row offset-1">
        <div class="col-12 my-4">
            <h2>Les prochains évènements</h2>
            <table id="events-list" class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                        <tr>
                            <th scope="col-2">
                                <h1 class="display-4 text-right"><span class="badge badge-primary">{{ event.dateBegin|date('d') }}</span></h1>
                    			<h3 class="text-right">{{ event.dateBegin|date('F')|trans }}</h3>
                    			<h3 class="text-primary text-right">{{ event.dateBegin|date('Y') }}</h3>
                            </th>
                            <td scope="col-10">
                                <h3 class="text-uppercase"><strong>{{ event.title }}</strong></h3>
                    			<ul class="list-inline">
                    				<li class="list-inline-item"><i class="fa fa-tag" aria-hidden="true"></i> {{ event.eventType.label }}</li>
                    				{% if event.locationTitle is not empty %}<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.locationTitle }}</li>{% endif %}
                    				{% if event.organizer is not empty %}<li class="list-inline-item"><i class="fa fa-user" aria-hidden="true"></i> {{ event.organizer }}</li>{% endif %}
                    			</ul>
                    			<a href="{{ path('owp_event_show', {'id': event.id}) }}" class="btn btn-primary stretched-link">Plus d'information</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
