{% extends 'content.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('event') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('event') }}
{% endblock %}

{% block title %}Liste des événements{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1>Liste des événements</h1>
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0 mx-lg-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':'Liste des événements', 'url':'#', 'class': 'active'}])}}
        </div>
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="row">
                {% for event in events %}
                    <div class="col-12 col-md-6 col-lg-4 mb-1">
                        {% include 'Event/item.html.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
