{% if admin.hasAccess('create') and admin.hasRoute('create') %}
    {% if admin.subClasses is empty %}
        <a class="btn btn-primary my-2" href="{{ admin.generateUrl('create') }}">
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }}
        </a>
    {% else %}
        {% for subclass in admin.subclasses|keys %}
            <a class="btn btn-primary my-2" href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                {{ 'link_action_create'|trans({}, 'SonataAdminBundle') }} {{ subclass|trans({}, admin.translationdomain) }}
            </a>
        {% endfor %}
    {% endif %}
{% endif %}
