{{ form_start(form, {'attr': {'id': 'form_entry'}}) }}
    <div class="modal-body">
        <div class="form-group">
            <h4 class="font-weight-bold">Equipe #1</h4>
            <div class="form-group">
                <label>Nom d'équipe</label>
                {{ form_widget(form.label, {'attr': {'class': 'form-control'}}) }}
            </div>

            {% for people in form.peoples %}
                <div class="form-group">
                    <h5>Equipier #{{ '1.' ~ loop.index }}</h5>
                    <h6>Licencié</h6>
                    <div class="form-group">
                        <label>Rechercher un licencié dans l'archive fédéral</label>
                        {{ form_widget(people.base, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <h6>Non licencié</h6>
                    <div class="form-group">
                        <label>Prénom</label>
                        {{ form_widget(people.firstName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        {{ form_widget(people.lastName, {'attr': {'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label>Commentaire</label>
                        {{ form_widget(people.comment, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{{ form_end(form) }}
