{% extends '@OwpCore/content.html.twig' %}

{% block title %}{{ block('fos_user_title') }}{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1>{% block fos_user_title %}{% endblock %}</h1>
            {% block fos_user_header %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0">
        <div class="col-12 col-lg-10 offset-lg-1">
            {% block fos_user_breadcrumb %}
                {{ _self.breadcrumb([])}}
            {% endblock %}
        </div>
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                {% for message in messages %}
                    <div class="{{ type }}">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        {% block fos_user_content %}{% endblock fos_user_content %}
    </div>
{% endblock %}
