<div id="news" class="carousel border-bottom border-primary slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for new in news|slice(0, 6) %}
            <li data-target="#news" data-slide-to="{{ loop.index0 }}" class="{{ loop.index0 == 0 ? 'active' }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner bg-dark" role="listbox">
        {% for new in news|slice(0, 6) %}
            <div class="carousel-item {{ loop.index0 == 0 ? 'active' }}">
                <img style="opacity:0.2" class="first-slide" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="text-primary">{{ new.title }}</h1>
                        <div class="text-white font-italic">
                            Publié le {{ period(new.createAt) }}
                            Modifié le {{ period(new.updateAt) }}
                        </div>
                        <p class="text-justify d-lg-none">{{ new.content|striptags|truncate(250)|raw }}</p>
                        <p class="text-justify d-none d-lg-block">{{ new.content|striptags|truncate(500)|raw }}</p>
                        <p>
                            <a class="btn btn-primary" href="{{ path('owp_news_show', {'id': new.id}) }}" role="button">
                                Lire la suite
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if news|length > 1 %}
        <a class="carousel-control-prev" href="#news" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#news" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    {% endif %}
</div>
