{% if events|length > 0 %}
    <div class="my-4">
        <div class="row col-10 offset-1 my-4">
            <h2 class="col-9">{{ 'owp_hompage_title_events'|trans }}</h2>
            <div class="col-3 text-right">
                <a href="{{ path('owp_event_list') }}" class="text-body text-decoration-none border-bottom border-primary pl-4">
                    <strong>{{ 'owp_hompage_link_events'|trans }}</strong>
                </a>
            </div>
        </div>

        <div class="row col-12">
            <div class="col-7 offset-1">
                {% for event in events %}
                    <div class="row my-4">
                        <div class="col-3 text-right">
                            <h1><span class="badge badge-primary">{{ event.dateBegin|date('d') }}</span></h1>
                            <h3>{{ event.dateBegin|date('F')|trans }}</h3>
                            <h3 class="text-primary">{{ event.dateBegin|date('Y') }}</h3>
                        </div>
                        <div class="col-9">
                            <h3><strong>{{ event.title }}</strong></h3>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fa fa-tag" aria-hidden="true"></i> {{ event.eventType.label }}</li>
                                {% if event.locationTitle is not empty %}<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.locationTitle }}</li>{% endif %}
                            </ul>
                            <a href="{{ path('owp_event_show', {'id': event.id}) }}" class="btn btn-primary stretched-link">{{ 'owp_homepage_button_more_informations'|trans }}</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-3">
                {% include 'Event/Block/calendar.html.twig' %}
            </div>
        </div>
    </div>
{% endif %}
