{% if events|length > 0 %}

    <div class="row m-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            <div class="mb-4">
                <a href="{{ path('owp_event_list') }}" class="text-body text-decoration-none border-bottom border-primary pl-4 text-right float-right">
                    <strong>Tous les événements</strong>
                </a>
                <h2>Les prochains événements</h2>
            </div>
        </div>

        <div class="col-12 col-lg-7 offset-lg-1">
            {% for event in events %}
                <div class="row mb-4">
                    <div class="col-3 text-right">
                        <h1><span class="badge badge-primary">{{ event.dateBegin|date('d') }}</span></h1>
                        <h3>{{ event.dateBegin|date('F')|trans }}</h3>
                        <h3 class="text-primary">{{ event.dateBegin|date('Y') }}</h3>
                    </div>
                    <div class="col-9">
                        <h3><strong>{{ event.title }}</strong></h3>
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-tag" aria-hidden="true"></i> {{ event.eventType.label }}</li>
                            {% if event.locationTitle is not empty %}<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> {{ event.locationTitle }}</li>{% endif %}
                        </ul>
                        <a href="{{ path('owp_event_show', {'id': event.id}) }}" class="btn btn-primary stretched-link">Plus d'information</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-3">
            {% include 'Event/Block/calendar.html.twig' %}
        </div>
    </div>
{% endif %}
