{% extends 'content.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block content_header %}
    <img class="first-slide opacity-20" src="{{ asset('images/default.jpg') | imagine_filter('carousel_header') }}" alt="First slide">
    <div class="container">
        <div class="carousel-caption text-left content-header col-12 col-lg-10 offset-lg-1">
            <h1>{{ news.title }}</h1>
            <div class="text-white font-italic">
                Publié le {{ period(news.createAt) }}
                <br/>Modifié le {{ period(news.updateAt) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content_admin_actions %}
    <a href="{{ path('admin_owp_owpnews_news_edit', {'id': news.id}) }}" class='btn btn-outline-light' href=""><i class="fa fa-edit"></i> Modifier</a>
    <button data-toggle="modal" data-target="#confirm-delete" data-href="{{ path('admin_owp_owpnews_news_delete', {'id': news.id}) }}" type="button" class="btn btn-outline-light">
        <i class="fa fa-trash" aria-hidden="true"></i> Supprimer
    </button>
{% endblock %}

{% block content_body %}
    <div class="row my-4 mx-0 mx-lg-4">
        <div class="col-12 col-lg-10 offset-lg-1">
            {{ _self.breadcrumb([{'label':news.title, 'url':'#', 'class': 'active'}])}}
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
            {{ news.content|raw }}
        </div>

        <div class="col-12 col-lg-10 offset-lg-1">
            <h2 class="my-4">Commentaires</h2>
            {% include '@FOSComment/Thread/async.html.twig' with {'id': 'news:' ~ news.id} %}
        </div>
    </div>

    {% include 'Common/Modal/modal__confirm_delete.html.twig' %}
{% endblock %}
