{% extends 'base.html.twig' %}

{% block title %}{{ news.title }}{% endblock %}

{% block body %}
    <div class="container my-4">
        {% if is_granted('ROLE_WEBMASTER') %}
        <div class="float-right">
            <a href="{{ path('admin_app_news_edit', {'id': news.id}) }}" class='btn btn-link btn-xs' href=""><i class="fa fa-edit fa-2x"></i></a>
            <a href="{{ path('admin_app_news_delete', {'id': news.id}) }}" onclick="return confirm('Êtes vous sûr de vouloir supprimer cette actualité ?');" class='btn btn-link btn-xs' href=""><i class="fa fa-trash fa-2x"></i></a>
        </div>
        {% endif %}
        <h1>{{ news.title }}</h1>
        <span class="badge">Publié le {{ news.createAt|date('d/m/Y') }}, mise à jour le {{ news.updateAt|date('d/m/Y')}}</span>
        <div class="mt-2">{{ news.content|raw }}</div>

        <div class="mt-4">
            <h2>{{ 'comment' | trans | capitalize }}</h2>

            {% include '@FOSComment/Thread/async.html.twig' with {'id': 'news:' ~ news.id} %}
        </div>
    </div>

{% endblock %}
