{% extends 'base.html.twig' %}

{% macro breadcrumb(items) %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item fs-20"><a href="{{ path('owp_homepage') }}"><i class="fa fa-home"></i></a></li>
            {% for item in items %}
                {% if item.class %}
                    <li class="breadcrumb-item active text-dark-50" aria-current="page">
                        {{ item.label}}
                    </li>
                {% else %}
                    <li class="breadcrumb-item">
                        <a href="{{ path(item.url) }}">{{ item.label}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ol>
    </nav>
{% endmacro %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('content') }}
{% endblock %}

{% block body %}
    <div id="content-header" class="carousel border-bottom border-primary slide" data-ride="carousel">
        <div class="carousel-inner bg-dark" role="list">
            <div role="listitem" class="carousel-item active" height="25rem">
                {% block content_header %}{% endblock %}
            </div>
        </div>
        {% if is_granted('ROLE_WEBMASTER') %}
        <div class="admin-quick-edit">
            {% block content_admin_actions %}{% endblock %}
        </div>
        {% endif %}
    </div>

    {% block message %}
        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashBag.all %}
                <div class="container my-4">
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible collapsed-box">
                            {{ message|trans({}, 'FOSUserBundle') }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endif %}
    {% endblock %}

    {% block content_body %}{% endblock %}

    {% block content_footer %}{% endblock %}
{% endblock %}
