<nav class="navbar navbar-expand-xl navbar-dark bg-primary text-white m-0 rounded-0">
  <a class="navbar-brand" href="{{ path('owp_homepage') }}">
      {{ app_name }}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar-header">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a class="nav-link" href="/"></a></li>
      {{ sonata_block_render({ 'type': 'sonata.block.menu' }, {}) }}
    </ul>
      <!-- Informations sur le compte utilisateur ou connexion -->
      {% if app.user %}
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <div class="col-lg-12">
                <span class="text-primary h1">{{ app.user.username|slice(0,1) }}</span><span class="h3">{{ app.user.username|slice(1,app.user.username|length) }}</span>
              </div>
              <div class="dropdown-divider"></div>
              <div class="col-lg-12">
                <span class="text-italic">{{ app.user.email }}</span>
              </div>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">
                <i class="fa fa-user-circle mr-2" aria-hidden="true"></i>
                Mon espace personnel
              </a>
              {% if is_granted('ROLE_WEBMASTER') %}
                <a class="dropdown-item" href="{{ path('sonata_admin_dashboard') }}">
                  <i class="fa fa-cog mr-2" aria-hidden="true"></i>
                  Administration
                </a>
              {% endif %}
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">
                <i class="fa fa-sign-out mr-2" aria-hidden="true"></i>
                Se déconnecter
              </a>
            </div>
          </li>
        </ul>
      {% else %}
        <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-default"
              aria-labelledby="navbarDropdownMenuLink-333">
              <a class="dropdown-item" href="{{ path('login_google') }}">
                <i class="fa fa-google mr-2" aria-hidden="true"></i>
                Se connecter avec google
              </a>
              <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">
                <i class="fa fa-sign-in mr-2" aria-hidden="true"></i>
                Se connecter
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">
                <i class="fa fa-user-plus mr-2" aria-hidden="true"></i>
                S'inscrire
              </a>
            </div>
          </li>
        </ul>
      {% endif %}
  </div>
</nav>
