{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('administration') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('administration') }}
{% endblock %}

{% block body %}
    <div class="row m-0">
        <div class="col-lg-3 p-0">
            <div class="h-100 nav-side-menu">
                {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}
            </div>
        </div>

        <div class="my-4 col-lg-9">
            {% block content %}
                {% set _title = block('title') is defined ? block('title')|trim : null %}
                {% set _preview = block('preview') is defined ? block('preview')|trim : null %}
                {% set _form = block('form') is defined ? block('form')|trim : null %}
                {% set _show = block('show') is defined ? block('show')|trim : null %}
                {% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
                {% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
                {% set _actions = block('actions') is defined ? block('actions')|trim : null %}
                {% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}

                {% block sonata_breadcrumb %}
                    <div class="hidden-xs">
                        {% if _breadcrumb is not empty or action is defined %}
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    {% if _breadcrumb is empty %}
                                        {% if action is defined %}
                                            {% for menu in breadcrumbs_builder.breadcrumbs(admin, action) %}
                                                {%- set translation_domain = menu.extra('translation_domain', 'messages') -%}
                                                {%- set label = menu.label -%}
                                                {%- if translation_domain is not same as(false) -%}
                                                    {%- set label = label|trans(menu.extra('translation_params', {}), translation_domain) -%}
                                                {%- endif -%}

                                                {% if not loop.last %}
                                                    <li class="breadcrumb-item">
                                                        {% if menu.uri is not empty %}
                                                            <a href="{{ menu.uri }}">
                                                                {% if menu.extra('safe_label', true) %}
                                                                    {{- label|trans|raw -}}
                                                                {% else %}
                                                                    {{- label|trans|truncate(100) -}}
                                                                {% endif %}
                                                            </a>
                                                        {% else %}
                                                            <span>{{ label|trans|truncate(100) }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% else %}
                                                    <li class="breadcrumb-item active" aria-current="page"><span>{{ label|trans|truncate(100) }}</span></li>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% else %}
                                        {{ _breadcrumb|raw }}
                                    {% endif %}
                                </ol>
                            </nav>
                        {% endif %}
                    </div>
                {% endblock sonata_breadcrumb %}

                {% block notice %}
                    {% include '@SonataCore/FlashMessage/render.html.twig' %}
                {% endblock notice %}

                {% if _actions is not empty %}
                    <div class="sonata-ba-preview">{{ _actions|raw }}</div>
                {% endif %}

                {% if _preview is not empty %}
                    <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                {% endif %}

                {% if _show is not empty %}
                    <div class="sonata-ba-show">{{ _show|raw }}</div>
                {% endif %}

                {% if _form is not empty %}
                    <div class="sonata-ba-form">{{ _form|raw }}</div>
                {% endif %}

                {% if _list_filters is not empty %}
                    <div class="row">
                        {{ _list_filters|raw }}
                    </div>
                {% endif %}

                {% if _list_table is not empty %}
                    <div class="row">
                        {{ _list_table|raw }}
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
