{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('administration') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('administration') }}
{% endblock %}

{% block body %}
    <div class="row m-0">
        <div class="col-lg-3 p-0">
            <div class="h-100 nav-side-menu">
                {{ knp_menu_render('sonata_admin_sidebar', {template: get_global_template('knp_menu_template')}) }}
            </div>
        </div>

        <div class="my-4 col-lg-9">
            {% block content %}
                
            {% endblock %}
        </div>
    </div>
{% endblock %}
